@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

/* Basic Style */
html, body 

{
  
  padding:0;
  margin:0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  display: block;
  height: auto;
  
}

#FormuleAccueil {
    background: url(../img/Ardoise.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    height : 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    }
#FormuleAccueil h1 {

        width: 750px;
        font-size : 50px;
        color: rgb(255, 255, 255);
        position: relative;
      
        }
#Formule {
    height: 62vh;
    text-align: center;
    background-color: rgb(255, 235, 204);
}     

#Formule h1 {

    margin: 0;
    padding: 0;
}   

#Formule p {

    margin: 0;
    padding: 0;
}   

#FormulePhoto {

    padding: 5em;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 235, 204);
}

.box {
    list-style-type: none;
    float: left;
    width: 50%;
  }
  .box:nth-child(2n + 1) {
    clear: both;
    margin-left: 0;
  }
  .box:nth-child(2n + 0) {
    margin-right: 0;
  }
  .box a {
    display: block;
    width: 100%;
    height: auto;
  }
  .box a img {
    -webkit-back-visibility: hidden;
    display: block;
    width: 200%;
    height: auto;
  }
