@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

                    
.container {
  max-width: 2000px;
  width: 100%;
  margin: auto;
}


/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[id="Header"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {  
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%);
  width: 100%;
  position: fixed;
  height: 150px;
  background: #78a8d3;
  padding:10px;
  z-index: 4;   
  padding: 0; margin: 0;
  display: flex;
}


.navbar-container {
  display: flex;
  justify-content: space-around;
  height: 64px;
  align-items: center;
  text-align: center;
}
.menu-items {
  display: inline;
  order: 0;
}

.menu-items li {
  display: inline;
  list-style: none;
  margin-bottom: 0.5rem;
}


.menu-items a {
  display:inline-block;
  text-decoration: none;
  color: rgb(255 255 255);
  margin: 15px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  font-size:25px;
}
.menu-items a:hover {
  color: #224064;
  transition: color 0.3s ease-in-out;
}

#Logo1 {

  order: 0;
  
}

#Logo2 {

  order: 0;
}

#logo1header{
    height: 17vh;
    top: -6px;
    position: relative;
  }

  .navbar input[id="Header"],
  .navbar .hamburger-lines {
    display: none;
  }  

  /*--------------- DROPDOWN LANGUAGES -----------*/
.dropbtn {
  background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  
 
  
  .dropdown {
    position: relative;
    display: inline-block;
 }
  
  .dropdown-content {
    margin-top:2px;
    display: none;
    position: absolute;
    left:40px;
    min-width: 80px;
    overflow: auto;
    z-index: 1;
   background-color: #78a8d3;

   border:solid white 1px;
  }
  
  .dropdown-content a {
    color:white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover { color:#224064;
    ;}
  
  .show {display: block;}

@media screen and  (min-width: 768px) and (max-width: 1322px){
    
  .navbar {
    opacity: 0.85;
    height: 100px;
  }

  #Logo1 {

    display: flex;
    position: absolute;
    top: -20px;
    right: 0;
  }

  #Logo1 img {

    width: 300px;
    height: auto;
  }

  #Logo2 {

    display: flex;
    position: absolute;
    top: -80px;
    right: 300px;

  }

  #Logo2 img {

    width: 165px;
    height: auto;
  }

  .navbar-container input[id="Header"],
  .navbar-container .hamburger-lines {
    display: block;
    cursor: pointer;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[id="Header"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #78a8d3;
    height: 100vh;
    max-width: 350px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -70px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }


  .navbar-container input[id="Header"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[id="Header"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[id="Header"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[id="Header"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .menu-items a {
    display:inline-block;
    text-decoration: none;
    color: rgb(255 255 255);
    margin: 10px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    font-size:18px;
  }
} 
  
   @media screen and  (max-width: 884px){
   
    .navbar {
      opacity: 0.95;
      height: 100px;
    }
  
    #Logo1 {
  
      display: none;
    }
  
    #Logo2 {
  
      display: flex;
      position: absolute;
      top: -70px;
      right: 0;
  
    }

    #Logo2 img {

      width: 150px;

    }
    .navbar-container input[id="Header"],
    .navbar-container .hamburger-lines {
      display: block;
      cursor: pointer;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 64px;
    }
  
    .navbar-container input[id="Header"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: rgb(255, 255, 255);
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background: #78a8d3;
      height: 100vh;
      max-width: 350px;
      transform: translate(-150%);
      flex-wrap: wrap;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-left: -70px;
      padding-left: 50px;
      transition: transform 0.5s ease-in-out;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.5rem;
      font-size: 0.9rem;
      font-weight: 500;
    }
  
  
    .navbar-container input[id="Header"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[id="Header"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    .navbar-container input[id="Header"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[id="Header"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }
    .menu-items a {
      display:inline-block;
      text-decoration: none;
      color: rgb(255 255 255);
      margin: 10px;
      font-weight: 500;
      transition: color 0.3s ease-in-out;
      font-size:18px;
    }
   } 
  

   @media screen and  (max-width: 767.98px){
   
    .navbar {
      opacity: 0.95;
      height: 100px;
    }
  
    #Logo1 {
  
      display: none;
    }
  
    #Logo2 {
  
      display: flex;
      position: absolute;
      top: -70px;
      right: 0;
  
    }
    .navbar-container input[id="Header"],
    .navbar-container .hamburger-lines {
      display: block;
      cursor: pointer;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 64px;
    }
  
    .navbar-container input[id="Header"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: rgb(255, 255, 255);
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background: #78a8d3;
      height: 100vh;
      max-width: 350px;
      flex-wrap: wrap;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -70px;
      padding-left: 55px;
      transition: transform 0.5s ease-in-out;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.5rem;
      font-size: 1.0rem;
      font-weight: 500; 
    }                  
  
  
    .navbar-container input[id="Header"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[id="Header"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    .navbar-container input[id="Header"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[id="Header"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }

    .menu-items a {
      display:inline-block;
      text-decoration: none;
      color: rgb(255 255 255);
      margin: 10px;
      font-weight: 500;
      transition: color 0.3s ease-in-out;
      font-size:18px;
    }
    
   } 
   @media screen and  (min-height: 280px) and (max-height : 540px) {

    .menu-items a {
      display:inline-block;
      text-decoration: none;
      color: rgb(255 255 255);
      margin: 15px;
      font-weight: 500;
      transition: color 0.3s ease-in-out;
      font-size:15px;
    }

    .navbar .menu-items {
      padding-top: 0px;
      background: #78a8d3;
      height: 100vh;
      max-width: 300px;
      flex-wrap: wrap;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -70px;
      padding-left: 55px;
      transition: transform 0.5s ease-in-out;
      z-index: 12;
    }
   }